name: Build

on:
  push:
    tags:
      - "v*"

jobs:
  build-win:
    name: Build Windows
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Windows app
        run: pnpm tauri build

  build-macos:
    name: Build macOS
    runs-on: macos-latest
    strategy:
      matrix:
        arch: [x86_64, aarch64]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install Rust target
        run: rustup target add ${{ matrix.arch }}-apple-darwin

      - name: Build macOS app
        env:
          TAURI_BUILD_ARCH: ${{ matrix.arch }}
        run: pnpm tauri build -- --target ${{ matrix.arch }}-apple-darwin
